In [ ]:
import psycopg2

In [ ]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=data_engineering user=<user> password=<password>")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

In [ ]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS sales (
                transaction_id int,
                amount_spent int
                )""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (1, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    
    
try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (2, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e) 

try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (3, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [ ]:
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("\nTable: sales\n")
try: 
    cur.execute("SELECT * FROM sales;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

In [ ]:
try: 
    cur.execute("""SELECT * FROM 
                    ((transactions2 
                    JOIN 
                    employees 
                    ON transactions2.employee_id = employees.employee_id) 
                    JOIN 
                    albums_sold 
                    ON albums_sold.transaction_id=transactions2.transaction_id)
                    JOIN
                    sales 
                    ON sales.transaction_id=albums_sold.transaction_id;""")
    
    
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

In [ ]:
# TO-DO: Create all tables
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS transactions_denormalized (
                transaction_id int,
                customer_name varchar,
                cashier_id varchar,
                year int,
                amount_spent int
                );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)



#Insert data into all tables 
    
try: 
    cur.execute("INSERT INTO transactions_denormalized (transaction_id, customer_name, cashier_id, year, amount_spent) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1,"Amanda",1,2000,40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions_denormalized (transaction_id, customer_name, cashier_id, year, amount_spent) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2,"Toby",1,2000,19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try: 
    cur.execute("INSERT INTO transactions_denormalized (transaction_id, customer_name, cashier_id, year, amount_spent) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3,"Max",2,2018,45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [ ]:
try: 
    cur.execute("SELECT transaction_id, customer_name, amount_spent FROM transactions_denormalized")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

In [ ]:
# Create the tables

try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS cashier_sales (
               transaction_id int,
               cashier_name varchar,
               employee_id int,
               amount_spent int
               );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)


#Insert into all tables 
    
try: 
    cur.execute("INSERT INTO cashier_sales (transaction_id, cashier_name, employee_id, amount_spent) \
                 VALUES (%s, %s, %s, %s)", \
                 (1,"Sam",1,40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO cashier_sales (transaction_id, cashier_name, employee_id, amount_spent) \
                 VALUES (%s, %s, %s, %s)", \
                 (2,"Sam",1,19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO cashier_sales (transaction_id, cashier_name, employee_id, amount_spent) \
                 VALUES (%s, %s, %s, %s)", \
                 (3,"Bob",2,45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [ ]:
try: 
    cur.execute("SELECT cashier_name, SUM(amount_spent) FROM cashier_sales GROUP BY cashier_name")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

In [ ]:
cur.close()
conn.close()