In [ ]:
!PGPASSWORD=<password> createdb -h 127.0.0.1 -U mralasic pagila_star
!PGPASSWORD=<password> psql -q -h 127.0.0.1 -U mralasic -d pagila_star -f /Users/mralasic/Documents/GitHub/data_engineering/Pagila/pagila-master/pagila-star.sql

In [ ]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = <user>
DB_PASSWORD = <password>
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

In [ ]:
%%time
%%sql

SELECT dd.day, dm.rating, dc.city, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimMovie dm ON fs.movie_key = dm.movie_key
JOIN dimDate dd ON fs.date_key = dd.date_key
JOIN dimCustomer dc ON fs.customer_key = dc.customer_key
GROUP BY dd.day, dm.rating, dc.city
ORDER BY revenue DESC
LIMIT 20

In [ ]:
%%time
%%sql

SELECT dd.day, dm.rating, dc.city, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimmovie dm ON fs.movie_key = dm.movie_key
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimcustomer dc ON fs.customer_key = dc.customer_key
WHERE dm.rating = 'PG-13'
GROUP BY dd.day, dm.rating, dc.city
ORDER BY revenue DESC
LIMIT 20

In [ ]:
%%time
%%sql

SELECT dd.day, dm.rating, dc.city, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimmovie dm ON fs.movie_key = dm.movie_key
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimcustomer dc ON fs.customer_key = dc.customer_key
WHERE dm.rating in ('PG-13', 'PG')
AND dc.city in ('Bellevue', 'Lancaster')
AND dd.day in (1, 15, 30)
GROUP BY dd.day, dm.rating, dc.city
ORDER BY revenue DESC
LIMIT 20

In [ ]:
%%time
%%sql
SELECT dd.day, dm.rating, dc.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimmovie dm ON fs.movie_key = dm.movie_key
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimcustomer dc ON fs.customer_key = dc.customer_key
GROUP BY dd.day, dm.rating, dc.country
ORDER BY revenue DESC
LIMIT 20

In [ ]:
%%time
%%sql
SELECT dd.day, dm.rating, dc.district, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimmovie dm ON fs.movie_key = dm.movie_key
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimcustomer dc on fs.customer_key = dc.customer_key
GROUP BY dd.day, dm.rating, dc.district
ORDER BY revenue DESC
LIMIT 20

In [ ]:
%%sql
SELECT SUM(fs.sales_amount) as revenue
FROM factSales fs

In [ ]:
%%sql
SELECT ds.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimStore ds ON fs.store_key = ds.store_key
GROUP BY ds.country

In [ ]:
%%sql
SELECT dd.month, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimdate dd ON fs.date_key = dd.date_key
GROUP BY dd.month
ORDER BY dd.month asc, revenue DESC

In [ ]:
%%sql
SELECT dd.month, ds.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimstore ds ON fs.store_key = ds.store_key
GROUP BY dd.month, ds.country
ORDER BY dd.month asc, ds.country asc, revenue DESC

In [ ]:
%%time
%%sql
SELECT dd.month, ds.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimstore ds ON fs.store_key = ds.store_key
GROUP BY grouping sets ((), dd.month, ds.country, (dd.month, ds.country))

In [ ]:
%%time
%%sql
SELECT  NULL as month, NULL as country, sum(sales_amount) as revenue
FROM factSales
    UNION all 
SELECT NULL, dimStore.country,sum(sales_amount) as revenue
FROM factSales
JOIN dimStore on (dimStore.store_key = factSales.store_key)
GROUP by  dimStore.country
    UNION all 
SELECT cast(dimDate.month as text) , NULL, sum(sales_amount) as revenue
FROM factSales
JOIN dimDate on (dimDate.date_key = factSales.date_key)
GROUP by dimDate.month
    UNION all
SELECT cast(dimDate.month as text),dimStore.country,sum(sales_amount) as revenue
FROM factSales
JOIN dimDate     on (dimDate.date_key         = factSales.date_key)
JOIN dimStore on (dimStore.store_key = factSales.store_key)
GROUP by (dimDate.month, dimStore.country)