In [ ]:
import cassandra

In [ ]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

In [ ]:
## TO-DO: Create the keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS data_engineering 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [ ]:
## To-Do: Add in the keyspace you created
try:
    session.set_keyspace('data_engineering')
except Exception as e:
    print(e)

In [ ]:
## TO-DO: Complete the query below
query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(year int, artist_name text, song_title text, album_name text, single text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [ ]:
## Add in query and then run the insert statement
query = "INSERT INTO songs (song_title, artist_name, year, single, album_name)" 
query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, ("Across The Universe", "The Beatles", 1970, "False", "Let It Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, ("Think For Yourself", "The Beatles", 1965, "False", "Rubber Soul"))
except Exception as e:
    print(e)

In [ ]:
## TO-DO: Complete and then run the select statement to validate the data was inserted into the table
query = 'SELECT year, album_name, artist_name FROM songs WHERE year=1970'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

In [ ]:
session.shutdown()
cluster.shutdown()